$GREY-AF: #959faf;
$BLACK-02: rgba(0, 0, 0, 0.2);
$PRIMARY-BLUE: #085394;
$WHITE: #fff;
$BLUE-BF: #1072bf;
$WHITE: #fff;
$BLACK: #000;
$BLACK-04: rgba($BLACK, 0.4);
$BLACK-03: rgba(0, 0, 0, 0.3);
$BLACK-06: rgba(0, 0, 0, 0.6);
$BLACK-01: rgba(0, 0, 0, 0.1);
$BLACK-09: rgba(0, 0, 0, 0.9);
$BLACK-009: rgba(0, 0, 0, 0.09);
$BLACK-015: rgba(0, 0, 0, 0.15);
$BLACK-33: #333333;
$BLACK-012: rgba(0, 0, 0, 0.12);
$BLACK-014: rgba(0, 0, 0, 0.12);
$BLACK-08: rgba(0, 0, 0, 0.8);
$BLACK-07: rgba(0, 0, 0, 0.7);
$BLACK-008: rgba(0, 0, 0, 0.08);
$BLACK-006: rgba(0, 0, 0, 0.06);
$BLACK-002: rgba(0, 0, 0, 0.02);
$BLACK-76: #767676;
$BLACK-c8: #c8c8c8;
$WHITE-87: rgba(255, 255, 255, 0.87);
$WHITE-EF: #efefef;
$GREY-LIGHT: #e4e4e4;
$GREY-DB: #dbe1e6;
$GREY-L9: #f9f9f9;
$GREY-L4: #f4f4f4;
$BLACK-016: #2d353c;
$GREY_76: #76767638;
$BLUE-HIGHLIGHT: #1072bf26;
$BLACK-05: rgba(0, 0, 0, 0.5);
$BLACK-054: rgba(0, 0, 0, 0.54);
$WHITE-05: rgba(225, 225, 225, 0.5);
$GREEN-A9: #18c5a9;
$RED-5F: #f75a5f;
$WHITE-F1: #f1f1f1;
$GREY-EF: #e9ecef;
$GREY-DC: #dce2e7;
$RED-F4: #f44336;
$PINK-FF: #ffc0cb3d;
$PINK-9E: #9e52524d;
$GREY-A8: #a8b4be;
$GREY-F1: #f1f1f196;
$WHITE-F4: #f4f5f7;
$BLUE-DE: #deebff;
$SECONDARY-COLOR: #1072bf;
$LEFT-NAV-COLOR: #253544;
$SUCCESS-GREEN: #51a351;
$ERROR-RED: #bd362f;
$RED: red;
$YELLOW: YELLOW;
$BLUE: BLUE;
$RED-01: #d83b01;
$PRIMARY-COLOR: var(--primary-color, $SECONDARY-COLOR);
$SECONDARY-COLOR: var(--secondary-color, $SECONDARY-COLOR);
$PRIMARY-FONT-COLOR: var(--primary-font-color, $BLACK);
$FONT-COLOR: var(--font-color);
$MENU-BG-COLOR: var(--primary-color, $SECONDARY-COLOR);
