@import '../../../../../assets/scss/moveware.scss';
.warning-field {
    outline: 1px solid red;
}
.exclamation-icon {
    right: 23px !important;
}
.old-password-field {
    margin-bottom: 7px !important;
}
.new-password-field {
    padding: 5px 0px !important;
}
