<section
    class="row form-field-section input"
    [hidden]="!field.CodeVisible"
    [ngClass]="{ notEmpty: field.CodeValue && field.CodeEnabled !== 'No' }"
>
    <span
        *ngIf="!field.isTableCell && currentView && currentView.CodeType === 'Data Form'"
        class="col-md-3 {{ field.headerClass }}"
        >New {{ translationContext + field.CodeCode | translate }}</span
    >
    <span
        class="col-md-9 demo-full-width {{ field.CodeFieldType }} {{ field.CodeDescription }} {{
            field.dataClass
        }}"
        [ngClass]="{ 'warning-field': showMessage }"
    >
        <input
            tabindex="{{ field.tabIndex }}"
            type="password"
            [readonly]="field.CodeType === 'Display Field'"
            autocomplete="off"
            pPassword
            required="{{ field.CodeRequired ? true : false }}"
            placeholder="{{ field.CodePlaceholder }}"
            class="mw-ui-inputtext new-password-field"
            [disabled]="field.CodeEnabled === 'No'"
            [type]="field.CodeFieldType"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="newValue"
            (ngModelChange)="markDirty()"
            pTooltip="{{ field.CodeHelp }}"
            [escape]="false"
            tooltipPosition="bottom"
            placeholder="Bottom"
            showDelay="1000"
            hideDelay="500"
        />
        <button
            *ngIf="
                newValue != '' &&
                newValue &&
                field.CodeEnabled !== 'No' &&
                field.CodeType !== 'Display Field' &&
                !field.isTableCell
            "
            (click)="newValue = null"
            tabindex="-1"
            class="clear-btn"
        >
            <i class="pi pi-times"></i>
        </button>
        <button
            tabindex="-1"
            *ngIf="showMessage"
            pTooltip="{{ tooltipMessage }}"
            tooltipPosition="bottom"
            class="clear-btn exclamation-icon"
        >
            <i class="fa fa-exclamation-triangle"></i>
        </button>
    </span>
</section>
<section
    class="row form-field-section input"
    [hidden]="!field.CodeVisible"
    [ngClass]="{ notEmpty: field.CodeValue && field.CodeEnabled !== 'No' }"
>
    <span
        *ngIf="!field.isTableCell && currentView && currentView.CodeType === 'Data Form'"
        class="col-md-3 {{ field.headerClass }}"
        >Confirm {{ translationContext + '.' + field.CodeCode | translate }}</span
    >
    <span
        class="col-md-9 demo-full-width {{ field.CodeFieldType }} {{ field.CodeDescription }} {{
            field.dataClass
        }}"
        [ngClass]="{ 'warning-field': showMessage }"
    >
        <input
            pPassword
            class="mw-ui-inputtext old-password-field"
            [type]="field.CodeFieldType"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="confirmValue"
            (ngModelChange)="markDirty()"
            pTooltip="{{ field.CodeHelp }}"
            [escape]="false"
            tooltipPosition="bottom"
            showDelay="1000"
            hideDelay="500"
        />
        <button
            *ngIf="
                confirmValue != '' &&
                confirmValue &&
                field.CodeEnabled !== 'No' &&
                field.CodeType !== 'Display Field' &&
                !field.isTableCell
            "
            (click)="confirmValue = null"
            tabindex="-1"
            class="clear-btn"
        >
            <i class="pi pi-times"></i>
        </button>
        <button
            tabindex="-1"
            *ngIf="showMessage"
            pTooltip="{{ tooltipMessage }}"
            tooltipPosition="bottom"
            class="clear-btn exclamation-icon"
        >
            <i class="fa fa-exclamation-triangle"></i>
        </button>
    </span>
</section>
