<h2 class="dialog-title">{{ title }}</h2>
<button class="not-a-btn right w-44 close-btn" (click)="closeDialog()">
    <i class="fa fa-times"></i>
</button>
<section class="save-edit-filter-content">
    <div class="col-md-12 pad-l-0 no-padding quick-add-container">
        <app-container
            [containerID]="customeViewContainerId"
            [isDefaultContainer]="false"
            [isQuickMenu]="true"
            [currentRecord]="selectedView"
        >
        </app-container>
    </div>
    <button
        type="button"
        class="pull-right chevron-arrow expand-arrows font-caption"
        *ngIf="!expanded"
        (click)="resizeOverlay(true); expanded = true"
    >
        <i class="fa fa-angle-left"></i>
    </button>
    <button
        type="button"
        class="pull-right chevron-arrow expand-arrows font-caption right"
        *ngIf="expanded"
        (click)="resizeOverlay(false); expanded = false"
    >
        <i class="fa fa-angle-right"></i>
    </button>
</section>
