<section *ngIf="pivotReport" class="section_height">
    <!-- <fm-pivot
        #pivot
        [licenseKey]="'Z7M6-XI016Y-421Z3T-531927-3P0U04-2L5T0C-5L6D0F-0E5927-3N6D10-460264-18581L'"
        [toolbar]="true"
        [width]="'100%'"
        [height]="'100%'"
        [report]="pivotReport"
        (ready)="onPivotReady($event)"
        (beforetoolbarcreated)="customizeToolbar($event)"
        [customizeCell]="customizeCell"
        (reportcomplete)="onReportComplete()"
    >
    </fm-pivot> -->
    <div id="highcharts-container" class="highcharts"></div>
</section>
