<div class="sub-header col-md-12">
    <ul class="breadcrumb pull-left">
        <li
            class="b-item active font-description pad-5"
            *ngFor="let breadcrumbItem of breadcrumbItems"
        >
            <a
                [routerLink]="['menu', breadcrumbItem.CodeCode]"
                routerLinkActive="active"
                href="javascript:;"
                class="b-item active"
                (click)="setSelectedMenu(breadcrumbItem)"
                *ngIf="breadcrumbItem.CodeCollection"
            >
                {{ breadcrumbItem.CodeCode | translate }}</a
            >
            <a *ngIf="!breadcrumbItem.CodeCollection" href="javascript:;" class="b-item active">
                {{ breadcrumbItem.CodeCode | translate }}
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
    <ul class="breadcrumb pull-right" *ngIf="selectedRecord.selectedRecordType">
        <li class="b-item active">
            {{ selectedRecord.selectedRecordType | translate }}
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="b-item active" *ngIf="selectedRecord.CodeCode">
            {{ selectedRecord.CodeCode | translate }}
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
    <div class="clear"></div>
</div>
