@import '../../../../../assets/scss/moveware.scss';

a.link {
    color: $PRIMARY-COLOR !important;
}

.link-container {
    padding-left: 0px !important;
}

.input {
    padding-left: 15px;
    padding-right: 15px;
}
